:root {
  --color-primary: #3498db;
  --color-secondary: #2ecc71;
  --color-accent: #e74c3c;
  --color-background: #f4f4f9;
  --color-background-dark: #124970;
  --color-text: #2c3e50;
  --color-white-primary: white;
}
